# node_modules
node_modules

# environment variables
src/data/.env

# txt files
*.txt

# logs
*.log

# unneeded folders
Misc/

# .DS_Store
.DS_Store

# bwd folder
src/bwd/

# webp files
*.webp

# package-lock.json
package-lock.json

# Testing stuff
Testing/
monitors/
src/data/messages.json